NODE_ENV=development
BROWSER=none
PUBLIC_URL=/openmrs/stockmanagement/spa.page
REACT_APP_DEV_USERS=Administrator:admin:Admin123,Doctor:doctor:Doctor123,Nurse:nurse:Nurse123,Clear:clerk:Clerk123
REACT_APP_BASE_OPENMRS_APP_URL = '/openmrs/'
#BUILD_PATH='../omod/src/main/webapp/resources/spa'
#SASS_PATH=./node_modules
REACT_APP_INJECT_SKELETON=true